@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format("woff")
  font-weight: 800
  font-style: italic
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'MyriadPro'
  src: url('../fonts/MyriadPro/MyriadPro-Bold.woff2') format("woff2"), url('../fonts/MyriadPro/MyriadPro-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'MyriadPro'
  src: url('../fonts/MyriadPro/MyriadPro-Light.woff2') format("woff2"), url('../fonts/MyriadPro/MyriadPro-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'MyriadPro'
  src: url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format("woff2"), url('../fonts/MyriadPro/MyriadPro-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'MyriadPro'
  src: url('../fonts/MyriadPro/MyriadPro-Semibold.woff2') format("woff2"), url('../fonts/MyriadPro/MyriadPro-Semibold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'BebasNeue'
  src: url('../fonts/BebasNeue/BebasNeueBold.woff2') format("woff2"), url('../fonts/BebasNeue/BebasNeueBold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'BebasNeue'
  src: url('../fonts/BebasNeue/AABebasNeue.woff2') format("woff2"), url('../fonts/BebasNeue/AABebasNeue.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'BebasNeue'
  src: url('../fonts/BebasNeue/BebasNeueRegular.woff2') format("woff2"), url('../fonts/BebasNeue/BebasNeueRegular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0')
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?o5wjt0') format("truetype"), url('../fonts/icomoon/icomoon.woff?o5wjt0') format("woff"), url('../fonts/icomoon/icomoon.svg?o5wjt0#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.sprite
  position: relative
  

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    background-image: url(../img/spritesheet.png)
    background-repeat: no-repeat


.sprite-call-ic
  &::before
    width: 21px
    height: 22px
    background-position: -5px -5px

  &.active:before
    background-position: -36px -5px

.sprite-call-ic-a::before
  width: 21px
  height: 22px
  background-position: -36px -5px

.sprite-comparison-ic
  &::before
    width: 22px
    height: 22px
    background-position: -67px -5px

  &.active:before
    background-position: -99px -5px

.sprite-comparison-ic-a::before
  width: 22px
  height: 22px
  background-position: -99px -5px

.sprite-heart-ic
  &::before
    width: 24px
    height: 21px
    background-position: -131px -5px

  &.active:before
    background-position: -131px -36px

.sprite-heart-ic-a
  &::before
    width: 24px
    height: 21px
    background-position: -131px -36px

.sprite-ic-basket
  &::before
    width: 23px
    height: 22px
    background-position: -5px -67px

  &.active:before
    background-position: -38px -67px

.sprite-ic-basket-a::before
  width: 23px
  height: 22px
  background-position: -38px -67px

.sprite-ic-call::before
  width: 19px
  height: 20px
  background-position: -71px -67px

.sprite-ic-call-f::before
  width: 22px
  height: 23px
  background-position: -100px -67px

.sprite-ic-car::before
  width: 22px
  height: 20px
  background-position: -132px -67px

.sprite-ic-cart
  &::before
    width: 24px
    height: 22px
    background-position: -132px -97px

  &.active:before
    background-position: -5px -129px

.sprite-ic-cart-a::before
  width: 24px
  height: 22px
  background-position: -5px -129px

.sprite-ic-heart::before
  width: 22px
  height: 21px
  background-position: -39px -129px

.sprite-ic-heart-a::before
  width: 22px
  height: 21px
  background-position: -71px -129px

.sprite-ic-help::before
  width: 20px
  height: 17px
  background-position: -103px -129px

.sprite-ic-lamp-f::before
  width: 24px
  height: 27px
  background-position: -133px -129px

.sprite-ic-list::before
  width: 17px
  height: 19px
  background-position: -71px -97px

.sprite-ic-mail::before
  width: 25px
  height: 20px
  background-position: -165px -5px

.sprite-ic-mail-f::before
  width: 23px
  height: 16px
  background-position: -165px -35px

.sprite-ic-message::before
  width: 17px
  height: 18px
  background-position: -165px -61px

.sprite-ic-message-f::before
  width: 18px
  height: 10px
  background-position: -166px -89px

.sprite-ic-money::before
  width: 19px
  height: 19px
  background-position: -167px -109px

.sprite-ic-place::before
  width: 18px
  height: 24px
  background-position: -167px -138px

.sprite-ic-type-f::before
  width: 24px
  height: 20px
  background-position: -5px -172px

.sprite-ic-user
  &::before
    width: 22px
    height: 22px
    background-position: -39px -172px

  &.active
    &:before
      background-position: -71px -172px

.sprite-ic-user-a::before
  width: 22px
  height: 22px
  background-position: -71px -172px

.sprite-ic-user-f::before
  width: 22px
  height: 22px
  background-position: -103px -172px

.sprite-mail-ic
  &::before
    width: 20px
    height: 22px
    background-position: -135px -172px
  &.active
    &:before
      background-position: -165px -172px

.sprite-mail-ic-a::before
  width: 20px
  height: 22px
  background-position: -165px -172px




.icon
  display: inline-block

  &-zoom
    width: 23px
    height: 23px
    display: inline-block
    background: url(../img/zoom-ic.png)

  &-lens
    width: 23px
    height: 23px
    display: inline-block
    background: url(../img/lens-ic.png)

  &-telegram
    width: 19px
    height: 17px
    background: url(../img/telegram-ic.png)

  &-viber
    width: 21px
    height: 23px
    background: url(../img/viber-ic.png)

  &-plus
    width: 60px
    height: 60px
    background: url(../img/plus-ic.png)

  &-eye
    width: 24px
    height: 14px
    background: url(../img/eye-ic.png)

  &-back
    width: 21px
    height: 17px
    background: url(../img/back-ic.png)