@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	margin-bottom: 25px

	&-top
		background: #676769

		&__list
			padding: 10px 0
			list-style: none
			text-align: right

			li
				display: inline-block
				margin-left: 15px
				vertical-align: middle

				a, span
					padding-left: 30px
					font-family: OpenSans
					color: #fff
					opacity: .4

					&:before


					&:hover,&:focus
						opacity: 1

	&-middle
		padding: 16px 0
		background: #f2f3f5

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between

		&__left
			display: flex
			align-items: center

		&__right
			display: flex
			align-items: center

	&-bottom
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px 0




.btn
	display: inline-block
	padding: 6px 15px
	border: 0
	outline: none
	font-weight: bold
	color: #fff
	border-radius: 6px
	text-align: center
	background: linear-gradient(to bottom, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)

	&:hover, &:focus
		opacity: 1
		color: #fff
		background: linear-gradient(to top, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)

	&-grey
		background: linear-gradient(to bottom, rgba(177,177,178,1) 0%, rgba(177,177,178,1) 50%, rgba(143,143,143,1) 51%, rgba(143,143,143,1) 100%)
		&:hover, &:focus
			opacity: 1
			color: #fff
			background: linear-gradient(to bottom, rgba(143,143,143,1) 0%, rgba(177,177,178,1) 50%, rgba(177,177,178,1) 51%, rgba(177,177,178,1) 100%)

	&-black
		display: inline-block
		padding: 12px 35px
		font-family: OpenSans
		font-weight: 600
		color: #8ccf46
		text-transform: uppercase
		border-radius: 6px
		background: rgba(0,0,0,.6)

		&:hover, &:focus
			opacity: 1
			background: #000
			color: #8ccf46
	&-bg
		display: flex
		align-items: center
		justify-content: flex-end
		height: 33px
		padding-right: 16px
		font-family: BebasNeue
		font-size: 23px
		font-weight: bold
		color: #fff
		text-transform: uppercase

		span
			position: relative
			top: 2px

		&:hover, &:focus
			color: #fff

		&__catalog
			width: 142px
			margin-right: 22px
			background: url(../img/btn-bg__catalog.png) no-repeat center
			background-size: cover

			&.active
				background: url(../img/btn-bg__catalog-active.png) no-repeat center

		&__ruller
			width: 228px
			height: 38px
			background: url(../img/btn-bg__ruller.png) no-repeat center
			background-size: cover

		&__callback
			width: 228px
			margin-left: 12px
			background: url(../img/btn-bg__callback.png) no-repeat center
			background-size: 100% 100%

	&-skype
		position: relative
		padding-left: 48px

		&:before
			content: ''
			position: absolute
			left: 10px
			top: 7px
			width: 26px
			height: 26px
			background: url(../img/skype-ic.png) no-repeat center
	
	&-eye
		padding: 0
		display: inline-block
		background-color: transparent
		outline: none
		border: 0

	&-back
		display: flex
		align-items: center
		font-size: 18px
		padding: 0
		background-color: transparent
		outline: none
		border: 0

		span
			padding-left: 10px


.border-top
	border-top: 1px dashed #c7c9c9

.border-bottom
	border-bottom: 1px dashed #c7c9c9

.phones
	position: relative
	padding-left: 45px
	top: 2px
	display: flex

	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 30px
		height: 31px
		background: url(../img/phones-bg.png)

	a
		display: block
		font-size: 27px
		font-family: BebasNeue
		font-weight: bold
		color: #000




.social
	
	li
		display: inline-block
		margin-left: 12px
		vertical-align: middle

		a
			display: flex
			align-items: center
			justify-content: center
			width: 35px
			height: 32px
			border-radius: 4px
			background: #a0a0a1
			font-size: 20px
			color: #fff

			&:hover
				opacity: 1
				background: linear-gradient(to bottom, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)


.logo
	display: inline-flex
	align-items: center

	&-slogan
		position: relative
		top: 5px
		display: flex
		flex-direction: column

	span
		display: block
		padding-left: 8px
		font-size: 13px

		&:nth-child(2)
			padding-left: 2px

		&:nth-child(3)
			padding-left: 0



.search
	position: relative
	width: calc(100% - 570px)

	&-field
		width: 100%
		height: 42px
		padding-left: 20px
		padding-right: 60px
		border: 1px solid #7fca31
		border-radius: 6px

		&:hover, &:focus
			outline: none

	&-btn
		position: absolute
		right: 0
		top: 0
		display: flex
		align-items: center
		justify-content: center
		height: 42px
		width: 42px
		padding: 0
		border-radius: 0 6px 6px 0
		outline: 0
		border: 0
		background: linear-gradient(to bottom, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)


.main-menu
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	list-style: none
	li
		a
			display: block
			padding: 6px 9px
			font-family: OpenSans
			font-size: 17px
			color: #8b8c8c
			border-radius: 4px

			&.active, &:hover
				color: #000
				background: #f3f4f6
				opacity: 1



.banner
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin-bottom: 25px

	&-slider
		width: calc(100% - 292px)

		&__item
			position: relative
			&--overlay
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				padding: 70px 50px 40px

			&--header
				margin-bottom: 20px
				font-size: 70px
				text-transform: uppercase
				font-family: BebasNeue
				color: #fff

			p
				margin-bottom: 20px
				font-size: 22px
				line-height: 25px
				color: #fff
	
	.slick-dots
		width: auto
		left: 50px
		bottom: 30px
		text-align: left
		li
			margin: 0 2px

			button
				padding: 0
				width: 16px
				height: 16px
				background: #595959
				opacity: .7
				border-radius: 50%

				&:before
					display: none

			&.slick-active
				button
					background: #fff
					opacity: 1

	&-info
		width: 280px
		background: #f2f3f5

		&__item
			padding: 24px 18px

			&:first-child
				position: relative
				padding-bottom: 1px

				&:before
					content: ''
					position: absolute
					bottom: 0
					left: 18px
					right: 18px
					margin: 0 auto
					height: 1px
					border-bottom: 1px dashed #b5b6b8



			p
				margin-bottom: 12px
				color: #202628
				line-height: 18px

				a
					color: #5ea70d

		&__header
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 10px

			strong
				font-size: 30px
				line-height: 25px
				color: #202628

	&-sale
		
		padding-bottom: 30px
		margin-bottom: 30px
		border-bottom: 1px dashed #c7c9c9

		&__wrap
			position: relative

			img
				display: block

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			text-align: right
			padding-top: 75px

		&__text
			display: inline-block
			padding: 25px 20px
			background: rgba(0,0,0,.3)
			color: #fff
			font-family: BebasNeue

		&__header
			font-size: 100px
			line-height: 80px
			font-weight: bold
			text-transform: uppercase

		&__description
			font-size: 35px
			font-weight: normal
			text-align: right





.user
	&-menu
		list-style: none

		li
			display: inline-block
			margin-left: 15px
			vertical-align: middle

		.sprite
			display: inline-block

			&:before
				position: static
				display: block






.promocode
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 12px

	&-block
		padding: 25px 20px
		margin-bottom: 25px
		background: #f2f3f5

		.h2
			position: relative
			margin-bottom: 6px
			font-weight: bold

			&:before
				content: ''
				position: absolute
				top: 0
				right: 5px
				width: 49px
				height: 58px
				background: url(../img/banner-info__header--gift.png) no-repeat

			&+p
				margin-bottom: 10px

		p
			line-height: 18px

			a
				display: inline-block
				color: #5ea70d
				border-bottom: 1px solid

	&-field
		width: calc(100% - 50px)
		height: 42px
		padding-left: 15px
		border: 1px solid #e6e7e9
		border-radius: 6px

		&:hover, &:focus
			outline: none
	
	&-btn
		display: flex
		align-items: center
		justify-content: center
		height: 42px
		width: 42px
		padding: 0
		border-radius: 6px
		outline: 0
		border: 0
		background: linear-gradient(to bottom, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)

		.fa
			font-size: 20px
			color: #fff

.slick-dotted.slick-slider
	margin: 0

.slick-slide
	outline: none

.advantages
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap
	padding-bottom: 30px
	margin-bottom: 30px
	border-bottom: 1px dashed #c7c9c9

	&-item
		display: flex
		align-items: center
		margin: 0 12px

		span
			padding: 10px 0 10px 15px
			margin-left: 5px
			font-family: OpenSans
			font-size: 18px
			line-height: 20px
			color: #8f8f90
			border-left: 2px solid $green







.product

	&-wrap
		padding-bottom: 10px
		margin-bottom: 30px
		border-bottom: 1px dashed #c7c9c9

		&+.tabs-wrap
			border: 0
			margin-bottom: 0
			padding-bottom: 40px
			border-bottom: 4px solid #7bc82a

		.row
			display: flex
			flex-wrap: wrap

		&__header
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			margin-bottom: 20px

			.h2
				margin-bottom: 0





	&-header
		padding-bottom: 8px
		margin-bottom: 15px
		border-bottom: 3px solid

		&__yellow
			border-color: #ffae00

		&__green
			border-color: #7bc82a

		&__red
			border-color: #ff0096

	&-rating
		display: flex
		align-items: center
		margin-bottom: 8px

		&__wrap
			display: flex
			flex-wrap: wrap

		&__count
			padding-left: 6px
			font-size: 14px
			color: #666

			a
				font-size: 14px
				color: #666

		&__block
			width: 65px
			height: 13px
			background: url('../img/star.svg') repeat-x 0 0
			background-size: contain

		&__inner
			background: url('../img/star-solid.svg') repeat-x 0 0
			background-size: contain
			font-size: 1px
			height: 13px
			text-indent: -9999px

	&-list
		margin-bottom: 20px
		list-style: none

		li
			font-size: 17px
			line-height: 25px

			strong
				font-weight: normal

			span
				padding-left: 5px
				font-weight: 300

	&-description
		margin-bottom: 30px

		p
			font-size: 17px
			line-height: 25px
			font-weight: 300

			strong
				padding-right: 5px
				font-weight: normal

	
	&-item
		margin-bottom: 20px

		&__img
			position: relative
			margin-bottom: 8px
			img
				display: block
				border-radius: 10px
				border: 2px solid $green

			&--zoom
				position: absolute
				right: 10px
				top: 10px

		&__tag
			position: absolute
			top: 12px
			left: 0
			padding: 6px 8px
			font-size: 25px
			color: #fff
			font-family: BebasNeue
			font-weight: bold

			&--yellow
				background: #ffae00

			&--green
				background: #7bc82a

			&--red
				background: #ff0096

		&__info
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			&--text
				width: calc(100% - 24px)

		&__btn
			width: 24px
			list-style: none

			li
				margin-top: 9px

		

				.sprite
					display: block

					&:before
						position: static
						display: block


		&__name
			font-size: 19px
			color: #202628
			font-weight: 600

		p
			min-height: 30px
			line-height: 16px

		&__price
			font-size: 25px

			span
				font-size: 15px


		.product-rating
			margin-bottom: 2px

		.btn
			&-grey
				&:hover
					background: linear-gradient(to bottom, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)
		
	&-id
		margin-bottom: 10px
		font-size: 22px
		color: #202628

		strong
			font-weight: 600

		span
			font-weight: 300

	&-count
		margin-bottom: 20px

		&__wrap
			display: flex
			flex-wrap: wrap


		&__price
			padding-left: 20px
			font-weight: 600
			font-size: 42px
			color: #7bc82a

			span
				font-size: 38px





	&-value
		width: 70px
		text-align: center
		font-size: 25px
		outline: none
		background-color: transparent
		border: 1px solid #d8d8d8
		border-radius: 6px

.collection
	min-height: 650px
	padding: 0 20px 40px 35px
	margin-bottom: 20px
	background: url(../img/collection-bg.jpg) no-repeat
	background-size: cover
	color: #202628

	&-top
		position: relative
		display: flex
		align-items: center
		padding-top: 50px
		margin-bottom: 60px
		

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			width: 3px
			top: 0
			bottom: 0
			height: 100%
			margin: auto
			background: #2c72fc

		&__left
			padding-right: 12px
			width: 50%
			font-weight: 300
			font-size: 47px
			line-height: 24px
			text-align: right
			text-transform: uppercase

			span
				font-size: 26px
				line-height: 24px

		&__rigth
			padding-left: 12px
			width: 50%
			font-weight: bold
			font-size: 33px
			line-height: 33px

	&-title
		margin-bottom: 20px
		font-size: 80px
		line-height: 70px
		font-weight: 300

	p
		margin-bottom: 25px
		line-height: 18px

	.btn
		margin-bottom: 71px
		font-size: 19px
		padding: 9px 20px

	.product-item__btn
		max-width: 240px
		margin-bottom: 12px
		padding-bottom: 15px
		width: auto
		border-bottom: 1px dashed #a3a3a3

		li
			display: inline-block
			margin: 0 15px 0 0 

	&-more
		display: inline-block
		border-bottom: 1px solid 
		color: #7bc82a





.shares
	padding-bottom: 30px
	margin-bottom: 30px
	border-bottom: 1px dashed #c7c9c9

	&+.interior
		margin-bottom: 0
		padding-bottom: 20px
		border-bottom: 4px solid #7bc82a

	&.row
		margin-left: -12px
		margin-right: -12px

		>[class^='col']
			padding-left: 12px
			padding-right: 12px

	&-item
		position: relative
		border: 2px solid #f3f4f6
		border-radius: 8px

		p
			margin-bottom: 12px
			color: #202628
			line-height: 18px

		&:before
			content: ''
			position: absolute
			left: -3px
			right: -3px
			top: -3px
			bottom: -3px
			border-radius: 8px
			transition: all .1s

		&:hover
			&:before
				border: 3px solid #7bc82a


		img
			display: block
			margin: 0 auto

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			padding: 20px 25px
			display: flex
			align-items: flex-end

		&__header
			margin-bottom: 12px
			color: #202628
			font-size: 28px
			line-height: 22px
			font-weight: bold

		&__more
			color: $green
			text-decoration: underline

		&__tag
			position: absolute
			right: 0
			top: 15px

			&--news
				padding: 3px 8px 1px
				font-size: 25px
				color: #fff
				text-transform: uppercase
				font-family: BebasNeue
				background: #7bc82a

			&--sale
				right: 14px
				top: 10px
				color: #ff0096
				font-size: 25px
				font-family: BebasNeue

				span
					display: inline-block
					vertical-align: middle
					font-size: 59px



.slick
	&-arrow
		z-index: 10
		&:before
			font-family: FontAwesome
			color: #a7a2a5
			font-size: 20px

		&:hover
			opacity: 1
			&:before
				color: $green

	&-next
		right: 20px
		&:before
			content: '\f054'
	&-prev
		left: 20px
		&:before
			content: '\f053'

.interior
	margin-bottom: 45px

	.h2
		margin-bottom: 18px
		text-align: center

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: 25px

	&-slider
		width: calc(100% - 292px)
		border-top: 3px solid $green

		&__item
			position: relative

			&--overlay
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0

			&--point
				position: absolute
				padding-left: 42px
				color: #fff

				&:before
					content: ''
					position: absolute
					left: 0
					top: -10px
					width: 40px
					height: 40px
					background: url(../img/point-ic.png) no-repeat



	&-info
		width: 280px
		padding: 22px 18px
		border-top: 3px solid $green
		background: #f2f3f5

		p
			padding-bottom: 15px
			margin-bottom: 15px
			line-height: 18px
			color: #202628
			border-bottom: 1px dashed #b5b6b8

			a
				color: $green
				text-decoration: underline

		&__list
			list-style: none

			li
				position: relative
				padding-left: 26px
				margin-bottom: 10px
				font-size: 18px

				&:before
					content: ''
					width: 12px
					height: 12px
					position: absolute
					left: 0
					top: 5px
					border-radius: 50%
					background: $green

		&__more
			a
				display: inline-block
				color: $green
				text-decoration: underline

		.btn
			position: relative
			margin-bottom: 18px
			padding: 9px 20px
			font-size: 19px


.point

	&-ceiling
		left: 14%
		top: 25%

	&-3d
		left: 36%
		top: 34%

	&-screens
		left: 63%
		top: 50%

	&-baseboard
		left: 6%
		top: 75%

	&-vase
		left: 27%
		top: 70%

	&-carpet
		left: 53%
		top: 88%









			
.news
	margin-bottom: 30px

	.h2
		margin-bottom: 25px
		text-align: center

	&-slider
		padding-left: 90px
		padding-right: 90px

	&-item
		margin-left: 10px
		margin-right: 10px

		&:hover
			.news-item__date
				background: #7bc82a

		&__img
			margin-bottom: 16px

			a, img
				display: block
				margin: 0 auto
				border-radius: 4px

		&__date
			display: inline-block
			padding: 6px 10px
			margin-bottom: 10px
			border-radius: 8px
			line-height: 18px
			background: #f2f3f5
			transition: all .3s

		&__name
			margin-bottom: 5px
			font-weight: 600
			font-size: 19px
			line-height: 15px

			a
				color: #000

		p
			margin-bottom: 5px
			line-height: 18px

		&__more
			display: inline-block
			padding: 6px 10px
			margin-bottom: 10px
			border-radius: 8px
			line-height: 18px
			background: #f2f3f5
			font-weight: 600
			color: #000

			&:hover, &:focus
				opacity: 1
				color: #fff
				background: linear-gradient(to bottom, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)

.subscription
	padding: 50px 100px
	margin-bottom: 30px
	background-color: #f2f3f5
	background-image: url(../img/subscription-bg.png)
	background-repeat: no-repeat
	background-position: left bottom

	&-header
		margin-bottom: 8px
		font-size: 30px
		text-transform: uppercase

	p
		padding-bottom: 20px
		font-size: 18px
		line-height: 30px

	&-form
		display: flex


		&__field
			max-width: 444px
			width: 100%
			height: 42px
			padding-left: 15px
			border: 1px solid #e6e7e9
			border-radius: 6px
			outline: none

			&:focus
				outline: none

		&__btn
			margin-left: 10px
			font-size: 19px


.reviews
	padding-top: 30px
	padding-bottom: 30px
	margin-bottom: 30px
	border-top: 1px dashed #c7c9c9
	border-bottom: 1px dashed #c7c9c9

	.h2
		margin-bottom: 25px
		text-align: center

	&-slider
		padding-left: 100px
		padding-right: 100px

	&-item

		&__wrap
			display: flex
			flex-wrap: wrap

		&__img
			width: 182px

		&__text
			position: relative
			top: -2px
			width: calc(100% - 182px)
			padding-left: 28px

			.h3
				margin-bottom: 5px

			p
				margin-bottom: 2px
				font-style: italic
				line-height: 18px

		&__author
			font-size: 18px

.video
	padding: 30px 30px 60px
	background-color: #f2f3f5
	background-image: url(../img/subscription-bg.png)
	background-repeat: no-repeat
	background-position: left bottom

	.h2
		margin-bottom: 50px
		text-align: center

	&-slider
		padding-left: 70px
		padding-right: 70px

		.slick-list
			padding: 30px 0 !important

	&-item
		position: relative
		margin-left: 8px
		margin-right: 8px
		transition: all .3s

		&.slick-center
			transform: scale(1.15)

			img
				border: 3px solid $green

			.video-item__play
				width: 60px
				height: 60px
				border-width: 5px
				border-color: $green

				.fa
					font-size: 27px
					color: $green
			
			.video-item__time
				top: auto
				bottom: 28px

		img
			margin: 0 auto

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center



		&__btn
			
		&__play
			width: 90px
			height: 90px
			display: flex
			align-items: center
			justify-content: center
			border: 8px solid rgba(256,256,256,.3)
			border-radius: 50%

			.fa
				font-size: 40px
				color: rgba(256,256,256,.3)

		&__time
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			margin: auto
			width: 40px
			height: 18px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 4px
			background: #000
			color: #fff
			font-weight: 600
			font-size: 11px


.footer
	background: #676769

	&-wrap
		padding: 25px 0
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&-item
		.header-top__list
			display: block

			li
				display: block
				margin-bottom: 15px
				text-align: left

				a, span
					display: block

	&-links
		list-style: none
		font-family: OpenSans

		li
			

			a
				display: block
				padding: 6px 15px
				border-radius: 4px
				font-size: 15px
				color: #fff

				opacity: .6

				&:hover
					opacity: 1
					background: #7c7c7e
	
	&-middle
		padding: 10px 0
		background: #f2f3f5

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between

	&-logo
		max-width: 160px

	&-bottom
		padding: 5px 0 10px
		background: #fff

		&__wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			color: #8f8f90

	&-copy
		a
			color: #8f8f90

	&-dev
		display: flex
		align-items: center

		span
			padding-right: 5px

		img, a
			display: block


.inner
	padding: 20px 0 70px

	.h1, h1
		margin-bottom: 30px

article

	ul
		padding-left: 20px

		li
			margin-bottom: 10px









.modal
	display: none
	padding: 50px 40px
	max-width: 1060px
	width: 100%
	border-radius: 4px
	overflow: hidden

	&-header
		text-align: center

		.h2
			margin-bottom: 15px

		.h4
			margin-bottom: 30px

	.fancybox-button
		transform: rotate(-8deg)
		transition: all .3s
		svg
			border: 1px solid #999
			border-radius: 50%
			transition: all .3s

			path
				transition: all .3s
				fill: #999

		&:hover
			transform: rotate(0)
			svg
				border-color: #000

				path
					fill: #000
	&-enter

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap

			.row
				width: calc(100% - 180px)

		&__links
			position: relative
			display: flex
			flex-direction: column
			padding-left: 20px

			&:before
				content: ''
				position: absolute
				left: 0
				top: -20px
				bottom: -20px
				width: 2px
				background: $green

			a
				font-size: 16px
				font-weight: 600
				color: #1d2224

				&:hover
					color: $green
					opacity: 1

	&-product

		&__links
			padding-top: 18px
			padding-left: 20px

			.product-item__btn
				width: auto
				margin-bottom: 30px

				li
					display: inline-block
					margin-right: 15px

			&--call
				span
					display: block

				a
					color: #7bc82a
					text-decoration: underline


		&__img
			display: flex
			flex-wrap: wrap
			justify-content: space-between

		&__slider
			width: calc(100% - 80px)

			.slick-slide
				img
					border: 4px solid $green
					border-radius: 8px

			&--nav
				width: 68px
				padding: 40px 0

				.slick-slide
					margin-bottom: 10px

					&.slick-current
						img
							border: 2px solid $green
							border-radius: 4px

				.slick-next
					bottom: auto
					top: 92%
					right: 0
					left: 0
					margin: auto

					&:before
						content: '\f078 '

				.slick-prev
					top: auto
					bottom: 90%
					right: 0
					left: 0
					margin: auto

					&:before
						content: '\f077 '


		.product

			&-rating
				&__block
					width: 100px
					height: 20px

				&__inner
					height: 20px


		.h2
			margin-bottom: 12px
			font-weight: 600

			span
				display: block
				font-weight: normal
				font-size: 23px

		&__price
			display: flex
			align-items: center
			flex-wrap: wrap


			strong
				font-weight: normal
				font-size: 50px

			span
				font-size: 16px
				padding-left: 15px
				line-height: 14px

			&--ruble
				font-size: 46px

		&__btn
			display: flex
			flex-wrap: wrap

			.btn
				margin-bottom: 10px
				margin-right: 10px
				padding: 9px 26px
				font-size: 19px

	&-gallery

		.product-item__btn
			position: absolute
			right: 70px
			top: 3px
			width: auto

			li
				display: inline-block
				margin-left: 10px









.price-count
	display: flex
	flex-wrap: wrap
	align-items: center
	margin-bottom: 20px

	.count
		margin-left: 20px


.count
	display: flex
	align-items: center
	flex-wrap: wrap
	justify-content: space-between
	width: 90px

	&-wrap
		display: flex
		align-items: center

		span
			padding-left: 10px
			font-size: 16px
			line-height: 14px



	&-btn
		position: relative
		top: 2px
		padding: 0
		outline: none
		border: 0
		background-color: transparent
		color: #cccccc
		font-size: 22px

		&:hover, &:focus
			color: $green
			opacity: 1

	&-field
		width: 40px
		outline: none
		border: 0
		background-color: transparent
		font-size: 41px
		color: #202628




.required-label

	&:after
		content: '*'
		color: #ff0005
		display: inline-block
		vertical-align: top






.form

	&-item
		position: relative
		margin-bottom: 20px

		&__wrap
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.form-item
				width: 48%

			.form-item__quarter
				width: 23%

			&--eye
				align-items: center

				.form-item
					width: 46%
					max-width: 338px

				.btn-eye
					margin-top: 30px
					height: 100%

		&__btn
			display: flex
			align-items: center
			padding: 20px 0

			.btn
				margin-right: 20px
				padding: 9px 15px
				font-size: 19px


			

		&__label
			display: block
			padding-left: 15px
			margin-bottom: 2px
			font-size: 14px
			color: #000
			opacity: .4
			transition: all .3s

		&:hover
			.form-item__label
				opacity: 1

		&.sprite
			&:before
				content: ''
				left: 12px
				top: 0
				bottom: 0
				margin: auto

		textarea
			height: 166px
			padding-top: 9px
			line-height: normal

			&:hover
				opacity: 1

		&__textarea

			&.sprite
				&:before
					bottom: auto
					top: 16px





	&-field
		width: 100%
		padding-left: 48px
		height: 42px
		line-height: 42px
		outline: none
		border: 2px solid #e4e4e4
		border-radius: 2px

		&:hover, &:focus
			outline: none
			border-color: #000
			opacity: 1

	*::-webkit-input-placeholder 
		color: #1d2224
		font-family: MyriadPro

	*:-moz-placeholder 
		color: #1d2224
		font-family: MyriadPro


	*::-moz-placeholder 
		color: #1d2224
		font-family: MyriadPro


	*:-ms-input-placeholder 
		color: #1d2224
		font-family: MyriadPro

	&-bottom
		text-align: center

		.btn
			padding: 9px 26px
			font-size: 19px

select
	display: none

.jq-selectbox
	position: relative
	width: 100%

	&:hover
		cursor: pointer

	&__select
		width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 10px 42px 10px 48px
		width: 100%
		border: 2px solid #e4e4e4
		border-radius: 2px

		&:before
			content: ''
			position: absolute
			right: -2px
			top: -2px
			width: 42px
			height: 42px
			border-radius: 2px
			border: 2px solid #e4e4e4
			border-radius: 2px


		&::after
			content: '\f078'
			position: absolute
			right: 8px
			top: 10px
			font-family: FontAwesome
			font-size: 20px
			color: #1d2224
			


	&.opened
		.jq-selectbox__select-text
			color: #000
			&::after
				transform: rotate(180deg)


	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 50px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #fff
			border: 1px solid #EBEBEB
			border-radius: 12px
			li
				padding: 10px 20px
				font-size: 16px
				line-height: 19px
				color: #666
				border-bottom: 1px solid #EBEBEB
				transition: all .3s

				&:hover
					background: #EBEBEB


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 8px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #999


.check
	list-style: none

	&-list
		list-style: none

		&+.form-item__wrap
			.form-item
				margin-top: 0

	&-item
		display: block
		margin-bottom: 11px
	

		input[type="checkbox"], input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 55px
				cursor: pointer
				line-height: 16px
				font-weight: normal
				color: #1d2224

				a
					color: $green
					text-decoration: underline

				&:before
					content: ''
					position: absolute
					left: 0
					top: -5px
					width: 42px
					height: 42px
					border-radius: 2px
					border: 2px solid #e4e4e4
					border-radius: 2px


			&:checked
				&+label
					&::after
						content: '\f00d'
						position: absolute
						left: 13px
						top: 8px
						font-family: FontAwesome
						font-size: 22px
						color: #1d2224





						
.order

	&+.shares 
		border: 0
		margin-bottom: 0
		padding-bottom: 40px
		border-bottom: 4px solid #7bc82a

	&-form
		margin-bottom: 30px

		&__item
			padding: 20px 20px 30px

			&:first-child
				padding-top: 0

		.h3
			margin-bottom: 20px
			font-size: 20px
			font-weight: bold
			color: #5a6671

			&+.form-item__wrap
				.form-item
					margin-top: 0
				
		&__btn
			display: flex
			align-items: center
			justify-content: space-between
			padding: 20px
			background: #f2f9e9

			.btn
				margin-right: 20px
				padding: 9px 15px
				font-size: 19px

			&--rigth
				display: flex


	.form-item
		margin: 10px 0 0

		textarea
			width: 220px
			width: 100%
			padding: 10px 20px
			border: 1px solid #bfbfbf
			border-radius: 6px
			font-size: 20px

	.form-field
		padding: 0 15px
		border: 1px solid #bfbfbf
		border-radius: 6px
		font-size: 20px


	*::-webkit-input-placeholder 
		color: #202628
		font-size: 20px

	*:-moz-placeholder 
		color: #202628
		font-size: 20px


	*::-moz-placeholder 
		color: #202628
		font-size: 20px


	*:-ms-input-placeholder 
		color: #202628
		font-size: 20px


	.basket-content

		.check-item
			display: inline-block
			margin-bottom: 20px
			margin-right: 14px


		.check-item input[type=checkbox]+label, .check-item input[type=radio]+label
			padding: 0 35px 0 0
			font-size: 18px

			&:before
				left: auto
				right: 0

		.check-item input[type=checkbox]:checked+label::after, .check-item input[type=radio]:checked+label::after
			left: auto
			right: 5px

	.jq-selectbox .jq-selectbox__select-text
		border: 1px solid #bfbfbf
		border-radius: 6px
		padding: 9px 40px 8px 15px
		font-size: 18px
		background: #fff

		&:before
			border: 1px solid #bfbfbf

		&:after
			right: 12px
			top: 13px
			font-size: 14px
			color: #999999


	.jq-selectbox .jq-selectbox__dropdown
		top: 41px!important
	









.gallery
	column-count: 3
	column-gap: 5px

	&-item
		position: relative
		display: inline-block
		margin-bottom: 10px
		width: 100%

		&__overlay
			opacity: 0
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
			transition: all .3s

		&:hover
			.gallery-item__overlay
				opacity: 1
			
		&__btn
			padding: 10px
			text-align: center
			width: 122px
			height: 122px
			border-radius: 10px
			background: rgba(256,256,256,.8)

			.product-item__btn
				width: auto
				
				li
					display: inline-block
					margin: 0 5px 0

		&__zoom
			display: inline-block
			margin-bottom: 16px

	&-slider
		margin-bottom: 20px

		.slick-arrow
			&:before
				color: rgba(0,0,0,.2)
				font-size: 38px

			&:hover
				&:before
					color: $green

		.slick-prev
			left: 20px

		.slick-next
			right: 20px

		.slick-slide

			img
				margin: 0 auto
				border: 5px solid $green
				border-radius: 20px


		&__nav
			padding-left: 38px
			padding-right: 38px

			.slick-slide
				position: relative
				cursor: pointer

				img
					margin: 0 auto
					transition: all .3s
					border: 2px solid transparent

				&:hover
					img
						border: 2px solid $green

					&:before
						content: '\f0d8'
						position: absolute
						left: 0
						right: 0
						top: 100%
						margin: 0 auto
						text-align: center
						font-size: 23px
						color: $green
						font-family: FontAwesome

						



			.slick-prev
				left: 0

			.slick-next
				right: 0

			.slick-list
				padding-bottom: 20px

	&-more
		text-align: center

		&__btn
			color: #000
			text-decoration: underline














.burger-btn
	display: none
	width: 36px

	span
		display: block
		width: 100%
		height: 3px
		background: #000
		margin-bottom: 5px

		&:last-child
			margin-bottom: 0

	&:hover, &:foucs
		opacity: 1




.tabs
	&-wrap
		padding-bottom: 30px
		margin-bottom: 30px
		border-bottom: 1px dashed #c7c9c9

		>.h2
			margin-bottom: 20px
			text-align: center
		
	&-nav
		margin-bottom: 20px
		list-style: none
		text-align: center

		li
			display: inline-block
			vertical-align: middle

			&+li
				&:before
					content: '|'
					display: inline-block
					padding: 0 5px
					font-size: 19px

			a
				display: inline-flex
				height: 35px
				align-items: center
				font-size: 19px
				color: #010101

				&.active
					padding: 6px 15px
					border: 0
					outline: none
					font-weight: bold
					color: #fff
					border-radius: 6px
					text-align: center
					background: linear-gradient(to bottom, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)

	&-mobile__btn
		display: none

	&-item
		display: none

		&.active
			display: block




.catalog
	padding-left: 30px
	width: calc(100% - 360px)

	>.row
		display: flex
		flex-wrap: wrap

	.product-wrap
		border: 0

		&__header
			display: block

			.h2
				margin-bottom: 15px
	
	h1
		margin-bottom: 15px
		font-size: 30px
		font-weight: bold
		color: #202628

	&-top
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
		margin-bottom: 20px

	&-view
		display: flex
		flex-wrap: wrap
		font-size: 20px
		color: #231f20
		list-style: none

		li
			border-right: 1px solid #6c6c6c

			&:last-child
				border-right: 0

			&:first-child
				border-right: 0

		a
			padding-left: 5px
			padding-right: 5px
			color: #231f20
		
			&.active
				font-weight: bold
				color: #7bc82a

	&-sort
		list-style: none
		display: flex
		flex-wrap: wrap
		margin-bottom: 15px
		font-size: 20px
		color: #231f20
		list-style: none

		li
			border-right: 1px solid #6c6c6c

			&:last-child
				border-right: 0

			&:first-child
				border-right: 0

		a
			padding-left: 5px
			padding-right: 5px
			color: #231f20
			
			&.active
				font-weight: bold
				color: #7bc82a













	&-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: 110px
		height: calc(100vh - 110px)
		overflow-y: scroll
		z-index: 100
		padding: 20px 50px 30px
		background-color: #f2f3f5
		background-image: url(../img/subscription-bg.png)
		background-repeat: no-repeat
		background-position: -55px 107%
		border: 1px solid #dedfe1


		&::-webkit-scrollbar-track
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
			background-color: #EBEBEB


		&::-webkit-scrollbar
			width: 8px
			
			border-radius: 2px


		&::-webkit-scrollbar-thumb
			border-radius: 10px
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
			background: #999

		&__wrap
			display: flex
			flex-wrap: wrap

			.row
				width: calc(100% - 100px)

		&__img
			width: 100px
			list-style: none
			text-align: center

			li
				margin-bottom: 20px


		&__links

			&--header
				font-weight: 600
				font-size: 18px
				line-height: 22px
				color: #000

				a
					display: inline-block
					padding: 6px 15px
					color: #000
					border-radius: 6px

					&:hover, &.active
						opacity: 1
						color: #fff
						background: linear-gradient(to bottom, rgba(163,217,106,1) 0%, rgba(164,217,106,1) 50%, rgba(124,200,42,1) 51%, rgba(124,200,42,1) 100%)

			&--list
				list-style: none
				li
					padding: 6px 15px

					a
						font-weight: 300
						color: #8b8c8c

						&:hover
							opacity: 1
							color: #000


		&__bottom
			
			padding-top: 30px
			padding-left: 60px
			border-top: 1px solid #d4d5d7

			

			.h2
				position: relative
				margin-bottom: 10px
				font-weight: bold

				&:before
					content: ''
					position: absolute
					left: -60px
					top: 0
					width: 43px
					height: 45px
					background: url(../img/star-list-ic.png) no-repeat

			p
				color: #8f8f90
				font-family: OpenSans
				font-size: 14px
				line-height: 22px



.pagination
	display: flex
	align-items: center
	flex-wrap: wrap
	list-style: none

	&-wrap
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 20px

	&-count
		padding-right: 15px
		font-size: 20px

		span
			border-bottom: 1px solid


	li
		color: #132433

		&:first-child
			margin-right: 10px

		&:last-child
			margin-left: 10px

		&:not(.pagination-arrow)

			a
				display: inline-block
				padding: 4px 8px
				color: #132433
				font-size: 20px
				border-radius: 4px

				
				&.active, &:hover
					opacity: 1
					background: linear-gradient(to bottom,#a3d96a 0,#a4d96a 50%,#7cc82a 51%,#7cc82a 100%)
					color: #fff
					font-weight: bold

				&:hover
					font-weight: normal

	&-arrow

		a
			display: inline-block
			font-size: 20px
			color: #8f8f90

			&:hover
				color: #7bc82a
				opacity: 1
				




.questions
	position: relative
	padding: 25px 20px
	margin-bottom: 25px
	background: #f2f3f5
	background-image: url(../img/subscription-bg.png)
	background-repeat: no-repeat
	background-position: 0% 100%
	background-size: 70%

	&:before
		content: ''
		position: absolute
		top: 10%
		right: 5%
		width: 43px
		height: 45px
		background:  url(../img/star-list-ic.png)

	.h2
		margin-bottom: 10px
		font-weight: bold

		&+p
			margin-bottom: 12px
			line-height: 20px

	.btn
		padding: 9px 15px
		font-size: 18px


















.breadcrumbs
	padding: 12px 0 12px
	list-style: none
	border-top: 1px dashed #c7c9c9

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 16px
		color: #676769
		font-weight: 600


		+ li::before
			content: "\/"
			padding: 0 12px 0 10px
			color: #676769

		a
			color: #676769
			font-weight: normal


.cart
	display: flex
	flex-wrap: wrap

	&-content
		width: calc(100% - 420px)

		.tabs
			&-wrap
				border: 0

			&-nav
				text-align: left
				li
					margin-right: 20px

					&+li
						&:before
							display: none
					a
						font-weight: 300
						color: #202628

						&.active
							background: #f3f4f6
							color: #000
							font-weight: 600

			&-item
				p
					margin-bottom: 12px
					font-size: 18px
					line-height: 25px
					font-weight: 300



	&-aside
		width: 420px
		padding-left: 25px

		.h2
			margin-bottom: 10px
			font-weight: bold

		.product
			&-rating
				margin-bottom: 12px

				&__block
					width: 100px
					height: 20px

				&__inner
					height: 20px

		.count
			width: 122px

			&-field
				width: 70px
				height: 40px
				border-radius: 6px
				font-size: 25px
				color: #202628
				text-align: center
				border: 1px solid #d8d8d8


	&-slider
		margin-bottom: 15px

		&__wrap
			position: relative

			.product-item__btn
				position: absolute
				right: 0
				width: 42px
				bottom: 12px
				padding: 8px 10px 12px
				background: rgba(256,256,256,.5)
				border-radius: 8px 0 0 8px


		&__item
			position: relative

			&--tags
				position: absolute
				left: 0
				top: 12px
				list-style: none

				.product-item__tag, .shares-item__tag
					position: static
					display: inline-flex
					align-items: center
					justify-content: center
					padding: 0 8px
					height: 38px

			.product-item__btn
				position: absolute
				right: 0
				width: 42px
				bottom: 12px
				padding: 8px 10px 12px
				background: rgba(256,256,256,.5)
				border-radius: 8px 0 0 8px

		&__nav
			padding-left: 40px
			padding-right: 40px
			margin-bottom: 30px


			.slick-slide
				position: relative
				margin-left: 7px
				margin-right: 7px
				border-top: 3px solid transparent
				transition: all .3s
				cursor: pointer

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					top: 0
					bottom: 0
					background: rgba(256,256,256,0.5)
					transition: all .3s

				&:hover, &.slick-current
					border-color: #7bc82a
					&:before
						background-color: transparent


			.slick-prev
				left: 0

			.slick-next
				right: 0

			img
				margin: 0 auto


	&-btn
		display: flex
		flex-wrap: wrap
		padding-bottom: 10px

		.btn
			margin-bottom: 20px
			margin-right: 8px
			padding: 9px 15px
			font-size: 18px

			&:last-child
				margin-right: 0

	&-options
		margin-bottom: 25px
		border: 2px solid #e8e8e8
		border-radius: 8px

		&__header
			position: relative
			display: inline-block
			top: -12px
			padding: 0 12px
			background: #fff
			font-size: 20px
			color: #a0a0a1

		&__wrap
			padding: 0 12px


		&__item
			margin-bottom: 10px

			.h3
				margin: 0 0 12px

				span
					font-size: 18px
					font-weight: normal

			.h4
				font-family: MyriadPro
				font-weight: 300


			.jq-selectbox
				max-width: 230px
				margin-top: 10px
				
				.jq-selectbox__dropdown
					top: 39px !important

				.jq-selectbox__select-text
					width: auto
					padding: 10px 42px 10px 12px
					border: 1px solid #e4e4e4
					border-radius: 8px

					&:before
						border: 0
						background: linear-gradient(to bottom,#b1b1b2 0,#b1b1b2 50%,#8f8f8f 51%,#8f8f8f 100%)
						border-radius: 8px 0 0 8px

					&:after
						color: #fff
						top: 8px


			&.select-green-bg
				margin-bottom: 30px

				.jq-selectbox
					.jq-selectbox__select-text
						&:before
							background: linear-gradient(to bottom,#a3d96a 0,#a4d96a 50%,#7cc82a 51%,#7cc82a 100%)



			.check-item input[type=checkbox]+label, .check-item input[type=radio]+label
				min-height: 40px
				margin-bottom: 22px
				color: #202628
				font-size: 22px
				font-weight: 600

				&:before
					border: 1px solid #e4e4e4



.color

	&-list
		display: flex
		flex-wrap: wrap
		list-style: none

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				width: 53px
				height: 53px
				margin-right: 7px
				margin-bottom: 7px
				cursor: pointer
				font-size: 0
				text-indent: -9999px



			&:checked
				&+label
					border: 4px solid #7bc82a

	&-text
		display: flex

		&__item
			padding: 6px 8px 4px
			font-size: 25px
			color: #fff
			font-family: BebasNeue
			font-weight: bold

		&__green
			background: #7bc82a

		&__yellow
			background: #ffae00

		&__red
			background: #ff0096

	&-green
		color: #7bc82a

	&-yellow
		color: #ffae00

	&-red
		color: #ff0096






.credite
	position: relative
	padding: 25px 20px
	margin-bottom: 25px
	background: #f2f3f5
	background-image: url(../img/subscription-bg.png)
	background-repeat: no-repeat
	background-position: 0% 100%
	background-size: 40%

	&:before
		content: ''
		position: absolute
		top: 10%
		right: 10%
		width: 54px
		height: 48px
		background:  url(../img/credite-bg.png)

	.h2
		margin-bottom: 0

		&+p
			margin-bottom: 12px

	.btn
		margin-bottom: 15px
		padding: 9px 15px
		font-size: 18px


.measure
	margin-bottom: 30px

	.h2
		margin-bottom: 5px

	p
		margin-bottom: 15px
		font-size: 15px
		color: #202628
		line-height: 18px

	&-btn
		padding: 10px 0
		border-top: 1px dashed #bfbfbf
		border-bottom: 1px dashed #bfbfbf


		.btn
			margin-bottom: 8px
			margin-right: 30px
			padding: 9px 15px
			font-size: 18px

			&:last-child
				margin-bottom: 0

			&-skype
				padding-left: 48px



.content
	&-wrap
		display: flex
		flex-wrap: wrap
		padding-bottom: 20px
		margin-bottom: 30px
		border-bottom: 1px dashed #c7c9c9


.sidebar
	width: 360px

	&-mobile__btn
		display: none
		outline: 0
		border: none
		background-color: transparent
		font-size: 30px
		color: #7bc82a

	&-nav
		padding: 15px 20px 15px 14px
		margin-bottom: 15px
		background: #f5f5f7

		&__header
			padding-bottom: 5px
			font-size: 34px
			font-family: BebasNeue
			color: #000
			font-weight: bold
	
	&-menu
		list-style: none

		>li
			>a
				display: block
				padding: 10px 0
				font-size: 20px
				font-weight: 600
				color: #010101
				border-top: 1px dashed #c7c9c9

				&.active
					position: relative
					border: 0
					color: #fff
					background: linear-gradient(to bottom,#a3d96a 0,#a4d96a 50%,#7cc82a 51%,#7cc82a 100%)
					border-radius: 0 8px 8px 0

					&:before
						content: ''
						position: absolute
						left: -15px
						top: 0
						bottom: 0
						width: 15px
						background: linear-gradient(to bottom,#a3d96a 0,#a4d96a 50%,#7cc82a 51%,#7cc82a 100%)

					&:hover
						opacity: 1

			&.drop
				ul
					display: none
					list-style: none

					li

						a
							display: block
							padding: 10px 0
							font-size: 20px
							font-weight: 300
							color: #8b8c8c

							&:hover, &.active
								font-weight: bold
								color: #82cb35
								opacity: 1

	.credite, .measure
		.h2
			font-weight: bold


.filters
	margin-bottom: 15px
	border: 2px solid #f5f5f7


	&-header
		position: relative
		padding: 8px 20px 6px
		font-size: 34px
		font-family: BebasNeue
		background: #f5f5f7
		color: #81ca34
		font-weight: bold
		cursor: pointer

		&:before
			content: '\f078'
			position: absolute
			right: 15px
			top: 17px
			font-family: FontAwesome
			font-size: 20px
			color: #81ca34

		&.active
			&:before
				content: '\f077'

	&-item
		padding: 15px 20px 0

		&__header
			margin-bottom: 15px
			font-size: 22px
			font-weight: 600

		&__availability
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.check-item input[type=checkbox]+label, .check-item input[type=radio]+label
				font-size: 18px

		&__btn
			padding-bottom: 20px

			.btn
				padding: 9px 15px
				margin-right: 10px
				font-size: 18px

		&__list
			padding: 7px 15px 0
			overflow-y: scroll

			&::-webkit-scrollbar-track
				background-color: #f5f5f7


			&::-webkit-scrollbar
				width: 25px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				height: 25px
				border-radius: 6px
				background: #8f8f90

			.check-item
				margin-bottom: 18px
			
			.check-item input[type=checkbox]+label, .check-item input[type=radio]+label
				padding-left: 40px
				font-size: 18px


			.check-item input[type=checkbox]+label:before, .check-item input[type=radio]+label:before
				width: 26px
				height: 26px
				border-width: 1px
				border-color: #bbbcbd

			.check-item input[type=checkbox]:checked+label::after, .check-item input[type=radio]:checked+label::after
				font-size: 18px
				left: 7px
				top: 0






.overflow-auto
	overflow: auto




#slider-range
	margin: 0 auto 20px
	width: auto

.range-slider
	margin-bottom: 22px
	&> span
		display: block
		margin-bottom: 5px

.amount-wrapper
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	margin: 0 0 20px 0

	input
		display: inline-block
		width: 78px
		height: 40px
		line-height: 40px
		padding: 0 10px
		text-align: center
		border: 1px solid #c4c5c6
		font-size: 20px
		color: #202628
		outline: none
		background: #fff

	span
		padding-right: 5px
		font-size: 18px
		color: #202628

	strong
		padding-left: 2px



	.ui-widget-header
		border: none
		background: #000


.ui-widget-content
	height: 2px
	background: #d8d8d8
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 18px
	height: 18px
	border-radius: 50%
	background: #81ca34

.ui-slider-horizontal
	.ui-slider-range
		height: 4px
		border-radius: 0
		background: #81ca34
	.ui-slider-handle
		outline: none
		top: -8px
		margin-left: -.7em
		cursor: pointer




.basket
	padding-top: 10px
	border-top: 1px dashed #c7c9c9

	&-header
		margin-bottom: 15px
		padding: 18px 20px 10px
		background: #f5f5f7
		font-family: BebasNeue
		font-weight: bold
		font-size: 34px
		line-height: 30px
		border-radius: 2px

		span
			font-weight: normal
			font-size: 22px


	&-wrap
		display: flex
		flex-wrap: wrap

	&-content
		width: calc(100% - 364px)
		padding-right: 30px

		.check-item input[type=checkbox]+label
			padding-left: 40px
			font-size: 18px

		.check-item input[type=checkbox]+label:before, .check-item input[type=radio]+label:before
			width: 28px
			height: 26px
			top: -6px
			border-color: #bbbcbd
			border-width: 1px
			border-radius: 4px
		.check-item input[type=checkbox]:checked+label::after, .check-item input[type=radio]:checked+label::after
			content: '\f00c'
			left: 5px
			top: 0
			font-size: 18px

			 


	&-sidebar
		width: 364px

		.credite
			margin-bottom: 20px

			.h2
				font-weight: bold


	&-top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 20px

		&__check
			display: flex
			align-items: center
			flex-wrap: wrap

			.check-item
				margin-bottom: 0

			&--del
				margin-left: 15px
				padding: 0
				border: 0
				outline: none
				background-color: transparent
				font-size: 18px
				font-weight: 600
				color: #7bc82a



	&-total
		position: relative
		margin-bottom: 20px
		padding: 20px
		border: 2px solid #d6d7d7
		border-radius: 4px

		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: rgba(256,256,256,.3)
			transition: all .3s

		&:hover
			&:before
				opacity: 0
				z-index: -1

		&__header
			display: flex
			align-items: center
			justify-content: space-between
			flex-wrap: wrap
			padding-bottom: 15px
			border-bottom: 1px dashed #c7c9c9

			strong
				font-size: 20px
				font-weight: bold
				color: #132433

			span
				color: #a8aaaa


		&__list
			padding: 10px 0
			list-style: none
			border-bottom: 1px dashed #c7c9c9

			li
				display: flex
				align-items: center
				justify-content: space-between
				padding: 10px 0
				font-size: 20px
				color: #132433
				
				.icon-ruble
					font-size: 18px

			&--all
				color: #b5b7b7
				font-size: 15px

		&__all
			display: flex
			align-items: center
			justify-content: space-between
			padding: 10px 0
			font-size: 20px
			color: #132433

			strong
				&:last-child
					font-size: 34px

				.icon-ruble
					font-size: 30px
		.btn
			margin-bottom: 10px
			padding: 9px 15px
			font-size: 18px

		p
			font-size: 12px
			line-height: 14px
			color: #202628

	&-item
		display: flex
		flex-wrap: wrap
		padding: 20px 0
		border-bottom: 1px dashed #c7c9c9

		&:last-of-type
			border-bottom: 0

		&__check
			width: 50px
			padding-top: 10px

		&__price
			width: calc(100% - 40px)


			&--current
				display: block
				font-size: 20px
				font-weight: bold

				.icon-ruble
					font-size: 18px

			&--old
				position: relative
				display: inline-block
				margin-top: 6px
				font-size: 15px
				color: #c6c6c6

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					width: 100%
					top: 40%
					height: 1px
					background: #c6c6c6

			&--discount
				display: block
				font-size: 15px
				color: #ffae00

		&__count
			width: 36px

			input
				padding: 0
				width: 36px
				height: 36px
				line-height: 36px
				text-align: center
				border-radius: 4px
				border: 1px solid #bbbcbd
				background-color: transparent
				outline: none

	&-info
		display: flex
		flex-wrap: wrap
		width: calc(100% - 50px)

		&__left
			width: calc(100% - 170px)
			display: flex
			flex-wrap: wrap
			padding-right: 30px


		&__right
			width: 170px
			display: flex
			flex-direction: column
			justify-content: space-between

			&--top
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				align-items: center

			.product-item__btn
				width: auto
				text-align: right

				li
					display: inline-block
					vertical-align: middle
					margin: 0 10px 0 0

					&:last-child
						margin: 0


	&-img
		width: 44px

	&-text
		width: calc(100% - 44px)
		padding-left: 20px

		.h3
			font-size: 19px
			font-weight: 600
			color: #202628

		.h5
			margin-bottom: 5px
			color: #202628

		p
			font-size: 12px
			line-height: 16px
			color: #a0a0a1

		&__links
			padding: 12px 0 0
			display: flex
			flex-wrap: wrap

			a
				position: relative
				display: inline-block
				font-size: 15px
				color: #a0a0a1

				&+a
					&:before
						content: '|'
						display: inline-block
						margin: 0 10px
						font-size: 15px
						color: #a0a0a1


				&:hover
					color: #7bc82a


	&-tags
		display: flex
		flex-wrap: wrap
		margin: 15px 0 0

		&__item
			padding: 5px 10px 4px
			margin-right: 5px
			font-size: 15px
			font-weight: bold
			color: #fff
			border-radius: 8px

			&:last-child
				margin-right: 0

			&:hover
				opacity: 1

	
	&~.product-wrap
		border: 0
		margin-bottom: 0
		padding-bottom: 40px
		border-bottom: 4px solid #7bc82a







.bg
	&-red
		background: #ff0096

	&-yellow
		background: #ffae00

	&-grey
		background: #f2f3f5

		&+.border-top
			margin-top: 20px
























@media only screen and (max-width: 1199px)
	
	.catalog
		&-menu
			top: 65px

	.burger-btn
		display: block

	.main-menu
		display: none

	.header

		.header
			&-middle
				&__right
					display: none


	.footer-middle__wrap
		display: block
		text-align: center



	.footer

		.phones
			justify-content: center
			padding: 10px 0 10px

			&:before
				display: none

	.header-middle__right
		justify-content: center


	.banner
		display: block

		&-slider
			width: auto

		&-info
			width: auto

	.advantages-item 
		span
			font-size: 14px
			line-height: 18px

	.shares-item
		margin-bottom: 20px
		img
			height: 260px
			width: 100%
			object-fit: cover



	.mm-ocd--open
		.search
			width: 100%


	.product-item
		max-width: 180px
		margin: 0 auto 20px

	.basket-tags__item
		margin-bottom: 10px

	.order 

		.basket
			&-wrap
				display: block

			&-content
				width: auto
				padding: 0

			&-sidebar
				width: auto
				max-width: 364px
				margin: 15px auto 10px

			&-total
				&:before
					display: none






@media only screen and (max-width: 991px)
	.catalog
		&-menu
			padding-left: 0
			padding-right: 0

			.row
				width: calc(100% - 60px)

			&__img
				width: 60px

	.header
		.search
			display: none

	.banner-slider__item--overlay
		padding: 30px 40px 40px

	.banner-slider__item--header
		font-size: 44px

	.banner-slider__item p
		font-size: 20px
		line-height: 22px

	.advantages
		&-item
			width: 50%
			margin: 0 0 20px
			padding: 0 10px

	.banner-sale__header
		font-size: 4rem

	.banner-sale__description
		font-size: 1.5rem

	.interior
		&-wrap
			display: block
		
		&-slider
			width: auto

		&-info
			width: auto

	.footer
		&-item
			width: 50%
			margin-bottom: 20px


		&-bottom
			&__wrap
				flex-direction: column

	.modal-product__slider
		width: 100%

		&--nav
			width: 100%
			max-width: 375px
			padding: 20px 30px 0

			.slick
				&-arrow
					top: 52%
				&-prev
					right: auto
					left: 0
					bottom: auto

					&:before
						content: '\f053'
					

				&-next
					left: auto
					right: 0

					&:before
						content: '\f054'


			img
				margin: 0 auto

	.cart
		display: block

		&-content
			width: auto

		&-aside
			padding: 30px 0 0
			width: auto
	
	.product-wrap__header
		.h2
			margin-bottom: 20px

	.catalog
		width: auto
		padding-left: 40px

	.sidebar
		position: fixed
		left: 15px
		bottom: 50vh
		width: 30px
		z-index: 1
		background: transparent
		border-radius: 0 16px 0 0
		border-left: 0
		border-width: 0

		&-wrap
			background: #fff

		>*:not(.sidebar-mobile__btn)
			display: none

		&.active
			left: 15px
			top: 118px
			width: 290px
			z-index: 999
			
			border-width: 1px

			.sidebar-mobile__btn
				display: block !important


			>*:not(.sidebar-mobile__btn)
				display: block


		&-mobile__btn
			display: block
			outline: none
			border: none
			background-color: transparent
			font-size: 30px
			color: #83584f


			&:hover, &:focus
				opacity: 1

			&.active
				position: absolute
				right: 5px
				top: -2px
				font-size: 24px
				z-index: 999
				.fa
					&::before
						content: '\f00d'


		&-wrap
			height: calc(100vh - 100px)
			overflow-y: scroll

	.filters

		&-header
			padding: 12px 20px 6px
			font-size: 30px

		&-item

			&__list

				&::-webkit-scrollbar
					width: 10px

	.basket
		&-wrap
			display: block

		&-content
			width: auto
			padding: 0

		&-sidebar
			width: auto
			max-width: 364px
			margin: 15px auto 10px

		&-total
			&:before
				display: none











@media only screen and (max-width: 768px)
	
	h4, .h4
		font-size: 15px

	.modal
		padding: 45px 20px

		&-enter

			&__wrap
				display: block

				.row
					width: auto

			&__links
				padding: 0 0 10px

				&:before
					display: none

				a
					margin-bottom: 10px

	
	.header
		.phones
			display: none

		&-bottom
			padding: 5px 0

	.logo
		>span
			display: none

	.banner-slider__item
		&--header
			font-size: 32px

		p
			font-size: 16px
			line-height: 20px

	.banner-sale__header
		font-size: 3rem

	.banner-sale__description
		font-size: 1rem

	.banner-sale__overlay
		padding-top: 25px


	.subscription
		padding: 40px 30px

	.reviews
		&-slider
			padding-left: 60px
			padding-right: 60px

		&-item
			&__wrap
				display: block

			&__img
				width: auto

			&__text
				width: auto
				top: 0
				padding: 20px 0 0


	.tabs
		&-nav
			display: none


		&-mobile__btn
			position: relative
			display: block
			margin-bottom: 10px
			padding: 12px 20px
			border-radius: 4px
			background: $green
			text-transform: uppercase
			font-weight: 500
			color: #fff

			&::after
				content: ''
				position: absolute
				right: 15px
				top: 19px
				border: 5px solid transparent
				border-top: 6px solid #fff

			&:hover, &:focus
				opacity: 1
				color: #fff

		&-item
			display: block
			&.active-m
				.tabs-mobile__btn:after
					border-top: 0
					border-bottom: 6px solid #fff

			&__body
				display: none

	.header-middle__right
		flex-direction: column

	.footer
		.btn-bg
			margin-bottom: 10px

	.footer-copy
		text-align: center

	.cart-content .tabs-wrap
		padding-bottom: 0


	.catalog
		&-top
			display: block

			.color-text
				margin-bottom: 15px

		&-view
			font-size: 16px

		&-sort
			font-size: 16px

	.pagination
		&-wrap
			display: block

		&-count
			margin-bottom: 10px
			font-size: 16px

	.basket
		&-info
			flex-direction: column

			&__left
				width: 100%
				padding: 0 0 10px

			&__right
				width: 100%

				&--top
					margin-bottom: 10px

		&-tags
			flex-wrap: wrap

	.form-item__wrap
		.form-item
			width: 100%
			max-width: none
			margin: 0 0 10px

			&__quarter
				width: 48%

		&--eye 
			.btn-eye
				margin-top: 10px

	.order-form__btn
		display: block

		.btn
			margin-bottom: 10px












@media only screen and (max-width: 550px)
	
	.modal
		&-header 
			.h4
				br
					display: none


	.logo
		max-width: 160px

	

	.banner 
		.slick-dots
			bottom: 8px

		.slick-slide 
			img
				height: 350px
				object-fit: cover

	.interior-slider__item--point
		font-size: 10px
		padding-left: 22px

		&:before
			width: 20px
			height: 20px
			background-size: contain
			top: -3px

	.collection-title
		font-size: 60px
		line-height: 60px

	.news-slider
		padding-left: 40px
		padding-right: 40px

	.subscription-form
		flex-direction: column

		&__btn
			margin: 10px 0 0

	.video-slider
		padding-left: 0
		padding-right: 0

	.gallery
		column-count: 2

		&-more
			margin-bottom: 20px

	.collection-top
		padding-top: 30px
		&__rigth
			font-size: 22px
			line-height: 22px

		&__left
			font-size: 34px
			span
				font-size: 20px
				line-height: 24px

	.phones a
		font-size: 20px


	.collection
		padding: 0 20px 20px 35px
	
	.product-item__tag
		font-size: 16px

	.credite:before
		display: none

	.color-text__item
		font-size: 17px

	.product-wrap__header .h2
		font-size: 26px

	.shares-item__tag--news
		font-size: 16px

	.cart-options__item .check-item input[type=checkbox]+label, .cart-options__item .check-item input[type=radio]+label
		font-size: 18px

	.form-item__btn
		display: block

		.btn
			margin-bottom: 10px

	.order

		&-form

			*::-webkit-input-placeholder 
				font-size: 18px

			*:-moz-placeholder 
				font-size: 18px


			*::-moz-placeholder 
				font-size: 18px


			*:-ms-input-placeholder 
				font-size: 18px

	.form-item__wrap
		align-items: flex-end





@media only screen and (max-width: 370px)
	
	.footer-item
		font-size: 10px

	.footer-links li a
		padding: 6px 10px

	.advantages-item
		width: 100%

	.banner-slider__item--overlay
		padding: 20px 30px 40px

	.banner-slider__item--header
		font-size: 26px

	.banner-slider__item p
		font-size: 14px

	.logo
		max-width: 120px

	.catalog
		.row
			[class^='col']
				width: 100%

		.color-text__item
			font-size: 14px

	.basket-item__check
		width: 40px

	.basket-text__links a
		font-size: 12px

		&+a
			&:before
				margin: 0 5px
				font-size: 11px

	.basket-top__check--del
		font-size: 15px